<div class="mu-about-content" id="mu-experience">
  <div class="row">
    <div class="col-md-6">
      <div class="mu-about-content-left">
        <div class="mu-about-header">
          <h2 class="mu-heading-title">Experience</h2>
          <span class="mu-header-dot"></span>
          <div class="contents">
            <div class="box">
              <h4>2018 - 2019</h4>
              <h3>Software Developer Intern</h3>
              <p>Conducted surveys to elevate performance from clients and resolved bugs and complex issues to maintain high quality deliverables.
                Merged with Multi-National Companies with new and ongoing projects, implemented Responsive and mobile first strategies in each projects.</p>
            </div>
            <div class="box">
              <h4>2021 - 2022</h4>
              <h3>Technical Support Associate</h3>
              <p>Identified and resolved technical issues that arise with warehouse equipment and systems promptly to minimize downtime and maintain efficient operations.Ensured proper functioning and regular maintenance of warehouse equipment, such as conveyor systems, sorters, forklifts, packaging machines, and other automated systems.Analyzed equipment performance data to identify trends, anticipate potential issues, and make data-driven decisions to optimize efficiency and reliability.</p>
            </div>
            <div class="box">
              <h4>2022 - 2023</h4>
              <h3>QA Specialist</h3>
              <p>Testing and reassuring the quality of the end product by checking and evaluating the customer requirement one by one. Measurement scaling by matching machine values with product design as described. Eradicated possible errors by conducting constant inspection on each machine and products and returns manual report on the same</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="mu-about-content-right">

        <!-- Start skills progress bar -->
        <div class="mu-about-header">
            <h2 class="mu-heading-title">Education</h2>
            <span class="mu-header-dot"></span>
            <div class="contents">
              <div class="box">
                <h4>2015 - 2018</h4>
                <h3>Bachelor's in Computer Science</h3>
                <p> Kannur University, Kerala- India</p>
                
              </div>
              <div class="box">
                <h4>2021 - 2022</h4>
                <h3>PG Diploma - Mobile application development</h3>
                <p>Cambrian College, Onatrio - Canada</p>
              </div>
              
            </div>
          </div>

                  
      </div>
    </div>
  </div>
</div>