<section id="mu-about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-about-area">

                    <div class="mu-about-header">
                        <h2 class="mu-heading-title">About Me</h2>
                        <span class="mu-header-dot"></span>
                        <p>I am an aspiring <strong>Software Developer</strong> and <strong>Engineer</strong> with my dynamic and self motivated enthusiasm to grasp technologies to build and develop software applications using Python and Angular, I came along and still in pursuit of learning new stuffs</p>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mu-social-media">
                                    <a href="#"><i class="fa fa-facebook" style="color: #339999;"></i></a>
                                    <a href="#"><i class="fa fa-twitter" style="color: #339999;"></i></a>
                                    <a href="#"><i class="fa fa-linkedin" style="color: #339999;"></i></a>
                                    <a href="#"><i class="fa fa-google-plus" style="color: #339999;"></i></a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <a href="#mu-portfolio" class="mu-primary-btn view-my-work-btn" style="color: #339999; border-color: #339999; ">Download My Resume</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
