<section id="mu-featured-slider">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-featured-area">
                    <h1>Drishya Dinesh</h1>

                    <!-- Start text slide -->
                    <div class="mu-featured-slider-wrapper">
                        <div class="mu-featured-slider" id="typed-strings">
                            <p>I am a <span>software developer</span></p>
                        </div>
                        <span id="typed"></span>
                    </div>
                    <!-- Start text slide -->
                    
                    <div class="mu-featured-content">
                        <p>welcome to my digital portfolio. I love building responsive applications and experiences on the web</p>
                        <a href="#mu-portfolio" class="mu-primary-btn view-my-work-btn">View my works</a>
                    </div>

                </div>
            </div>			
        </div>
    </div>
</section>
