<section id="mu-skills">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-about-area">

            <!-- Start About Us Content -->
            <div class="mu-about-content">
              <div class="row">
                
                <div class="col-md-6">
                  <div class="mu-about-content-right">
    
                    <!-- Start skills progress bar -->
                    <div class="mu-about-header">
                        <h2 class="mu-heading-title">Skills</h2>
                        <span class="mu-header-dot"></span>
                      </div>

                              <div class="mu-skill-progress-bar">
                                <span>Html5</span>
                                <div class="mu-pro-bar mu-html5-bar">
                                  <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 95%">95%</div>
                                  </div>
                                  
                                </div>
                                <span>css</span>
                                <div class="mu-pro-bar mu-css-bar">
                                  <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 75%">75%</div>
                                  </div>
                                 
                                </div>
                                <span>Angular</span>
                                <div class="mu-pro-bar mu-photoshop-bar">
                                  <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 70%">70%</div>
                                  </div>
                                </div>
                                <span>Git</span>
                                <div class="mu-pro-bar mu-wordpress-bar">
                                  <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="62" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 62%">62%</div>
                                  </div>
                                </div>
                                <span>python</span>
                                <div class="mu-pro-bar mu-jquery-bar">
                                  <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 80%">80%</div>
                                  </div>
                                </div>
                              </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End About Us Content -->

          </div>
        </div>
      </div>
    </div>
  </section>
