<section id="mu-projects">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-portfolio-area">

                    <div class="mu-portfolio-header">
                        <h2 class="mu-heading-title">Projects</h2>
                        <span class="mu-header-dot"></span>
                    </div>

                    <!-- Start Portfolio Filter -->
                    <div class="mu-portfolio-filter-area">
                        <ul class="mu-simplefilter">
                            <li data-filter="all">All</li>
                            <li data-filter="1">Web App</li>
                            <li data-filter="4">Mobile App</li>
                            <li data-filter="3">Portfolio</li>
                        </ul>
                    </div>

                    <!-- Start Portfolio Content -->
                    <div class="mu-portfolio-content">
                        <div class="filtr-container">

                            <div class="col-xs-6 col-sm-4 col-md-4 filtr-item" data-category="1">
                                <div class="mu-item-thumbonail">
                                    <img class="img-responsive" src="assets/images/sellandbuy.png" alt="image">
                                </div>
                                <div class="mu-filter-item-content">
                                    <h4 class="mu-filter-item-title">E-commerce Marketplace</h4>
                                    <a class="mu-filter-link" href="#"><i class="fa fa-link"></i></a>
                                    <a class="mu-filter-imglink" href="assets/images/portfolio/img-1.jpeg" title="Web Development"><i class="fa fa-search"></i></a>
                                </div>
                            </div>

                            

                            

                            <div class="col-xs-6 col-sm-4 col-md-4 filtr-item" data-category="4">
                                <div class="mu-item-thumbonail">
                                    <img class="img-responsive" src="assets/images/sellandbuy.png"  alt="image">
                                </div>
                                <div class="mu-filter-item-content">
                                    <h4 class="mu-filter-item-title">MOBILE APP</h4>
                                    <a class="mu-filter-link" href="#"><i class="fa fa-link"></i></a>
                                    <a class="mu-filter-imglink" href="assets/images/portfolio/img-4.jpeg" title="MOBILE APP"><i class="fa fa-search"></i></a>
                                </div>
                            </div>

                            <div class="col-xs-6 col-sm-4 col-md-4 filtr-item" data-category="5">
                                <div class="mu-item-thumbonail">
                                    <img class="img-responsive" src="assets/images/sellandbuy.png"  alt="image">
                                </div>
                                <div class="mu-filter-item-content">
                                    <h4 class="mu-filter-item-title">Portfolio</h4>
                                    <a class="mu-filter-link" href="#"><i class="fa fa-link"></i></a>
                                    <a class="mu-filter-imglink" href="assets/images/portfolio/img-5.jpeg" title="BRANDING"><i class="fa fa-search"></i></a>
                                </div>
                            </div>

                            <div class="col-xs-6 col-sm-4 col-md-4 filtr-item" data-category="6">
                                <div class="mu-item-thumbonail">
                                    <img class="img-responsive" src="assets/images/sellandbuy.png"  alt="image">
                                </div>
                                <div class="mu-filter-item-content">
                                    <h4 class="mu-filter-item-title">Python</h4>
                                    <a class="mu-filter-link" href="#"><i class="fa fa-link"></i></a>
                                    <a class="mu-filter-imglink" href="assets/images/portfolio/img-6.jpeg" title="MARKETING"><i class="fa fa-search"></i></a>
                                </div>
                            </div>

                            <div class="col-xs-6 col-sm-4 col-md-4 filtr-item" data-category="1">
                                <div class="mu-item-thumbonail">
                                    <img class="img-responsive" src="assets/images/sellandbuy.png"  alt="image">
                                </div>
                                <div class="mu-filter-item-content">
                                    <h4 class="mu-filter-item-title">WEB DEVELOPMENT</h4>
                                    <a class="mu-filter-link" href="#"><i class="fa fa-link"></i></a>
                                    <a class="mu-filter-imglink" href="assets/images/portfolio/img-7.jpg" title="WEB DEVELOPMENT"><i class="fa fa-search"></i></a>
                                </div>
                            </div>

                            <div class="col-xs-6 col-sm-4 col-md-4 filtr-item" data-category="4">
                                <div class="mu-item-thumbonail">
                                    <img class="img-responsive" src="assets/images/sellandbuy.png"  alt="image">
                                </div>
                                <div class="mu-filter-item-content">
                                    <h4 class="mu-filter-item-title">MOBILE APP</h4>
                                    <a class="mu-filter-link" href="#"><i class="fa fa-link"></i></a>
                                    <a class="mu-filter-imglink" href="assets/images/portfolio/img-8.jpeg" title="MOBILE APP"><i class="fa fa-search"></i></a>
                                </div>
                            </div>

                            

                        </div>
                    </div>
                    <!-- End Portfolio Content -->

                </div>
            </div>
        </div>
    </div>
</section>
